@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext);

header{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.25em;
    text-align: center;
    height: 30%;
    width: auto;
    background: url('../images/bg-head-5.jpg');
    background-size: cover;
    background-position: center;
}
.main{
    height: 10em;
    width: 10em;
    background: green;
    display: none;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    color: #d4ffff;
    text-decoration: none;
}
a:hover {
    color: #ff6600;
}
ul{
    padding: 10px;
    background: #000000;
}
li{
    display: inline;
    padding: 0px 10px 0px 10px;
}
body{
    background: #cccccc;
}
.topDiv{
    padding: 1em 32% 1em 32%;
}
.aboutMe{
    background: blue;
}
.main{
    transition: all 0.5s linear 0.5s;

}
.hidden {
    opacity: 0;
    height: 0;
}